<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sundo_project_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sundo_project_app"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity
            android:name=".EvaluationActivity"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity
            android:name=".DmsActivity"
            android:theme="@style/CustomDmsTheme"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity
            android:name=".AddbusinessActivity"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity
            android:name=".GeneratorActivity"
            android:theme="@style/CustomGeneratorTheme"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity android:name=".mapActivity"
            android:exported="true">
            </activity>

    </application>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="8cc8725e00a49a39d578d8984cc2ab2f" />


</manifest>
